h2 {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.align-center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th {
    background-color: aquamarine;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    align-items: center;
}

button {
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.center-align {
    text-align: center;
}